{% extends 'base.html.twig' %}


{% block body %}

<body class="b-body-login">
    <div class="b-conten-form">
        <div class="b-text-login">
            <h3 class="b-text-login__txt">Iniciar Sesion</h3>
        </div>
        <div class="b-form-login">
            <form id="login-form" method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
                {% endif %}
                {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}
                <div class="b-content-all">
                    <label class="b-content-all__label" for="username">Nombre</label>
                    <input class="b-content-all__input" type="text" value="{{ name }}" name="name" id="username"
                        autocomplete="name" required autofocus>
                </div>
                <div class="b-content-all">
                    <label for="inputPassword" class="b-content-all__label">Contraseña</label>
                    <input type="password" class="b-content-all__input" name="password" id="inputPassword"
                        autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="b-remember">
                    <label for="remember-me" class="b-remember__label">Recuerdame</label>
                    <input class="b-remember__check" id="remember-me" type="checkbox" name="_remember_me">
                </div>
                <div class="b-btn">
                    <button type="submit" class="b-btn__button">Comenzar</button>
                </div>
                <div class="b-register-link">
                    <a style="text-decoration:none" class="b-register-link__text" href="{{path ('app_register')}}">Crear
                        Cuenta</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}