{% extends 'base.html.twig' %}


{% block body %}

<body class="b-body-create-post">
    <div class="b-conten-form">
        <div class="b-text-register">
            <h1 class="b-text-register__txt">Crear Post</h1>
        </div>
        <div class="b-form-post-create">
            {{ form_start(postsForm) }}

            <div class="b-content-all">
                {{ form_label(postsForm.title, 'Título', { label_attr : {'class': 'b-name-label'}})}}
                {{ form_row(postsForm.title, { attr: { class : "b-name-input"}})}}
            </div>

            <div class="b-content-all">
                {{ form_label(postsForm.introduction, 'Introducción', { label_attr : {'class': 'b-name-label'}})}}
                {{ form_row(postsForm.introduction, { attr: { class : "b-name-input"}})}}
            </div>

            <div class="b-content-all">
                {{ form_label(postsForm.bootcamp, 'Bootcamp', { label_attr : {'class': 'b-name-label'}})}}
                {{ form_row(postsForm.bootcamp, { attr: { class : "b-name-input"}})}}
            </div>

            <div class="b-content-all">
                {{ form_label(postsForm.description, 'Descripción', { label_attr : {'class': 'b-name-label'}})}}
                {{ form_row(postsForm.description)}}
            </div>

            <div class="b-btn-post">
                <button type="submit" class="b-btn-post__button">Enviar</button>
            </div>
            {{ form_end(postsForm) }}
        </div>
    </div>

</body>

{% endblock %}
